@import "tailwindcss";

:root {
  --background-100: hsl(0, 0%, 99%);
  --background-200: hsl(0, 0%, 89%);
  --background-300: hsl(0 0% 80%);
  --foreground-100: hsl(0, 0%, 9%);
  --foreground-200: hsl(0, 0%, 56%);
  --foreground-300: hsl(0, 0%, 44%);
  --selection: hsla(0, 0%, 0%, 0.071);
  --sh-class: hsl(22, 89%, 65%);
  --sh-sign: hsl(232, 10%, 53%);
  --sh-string: hsl(109, 38%, 45%);
  --sh-keyword: hsl(266, 50%, 58%);
  --sh-comment: hsl(229, 23%, 44%);
  --sh-jsxliterals: #7aa2f7;
  --sh-property: hsl(220, 50%, 54%);
  --sh-entity: hsl(220, 50%, 54%);
  --visual-blue: hsl(191, 66%, 61%);
  --visual-red: hsl(5, 97%, 66%);
  --visual-green: hsl(101, 42%, 58%);
  --visual-yellow: hsl(60, 100%, 50%);
  --visual-gold: hsl(32, 83%, 66%);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background-300) transparent;
}

::selection {
  background-color: var(--selection);
  text-shadow: none;
}

body {
  color: var(--color-foreground-100);
  background: var(--color-background-100);
  font-family: var(--font-geist-sans);
  line-height: 1.75rem;
  min-height: 100lvh;
}

pre::-webkit-scrollbar {
  display: none;
}

.bg-pre {
  background-color: hsl(0, 0%, 95%);
}

pre {
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5rem;
  overflow-x: auto;
  padding: 1rem;
  margin: 1.5rem 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

code {
  font-family: var(--font-geist-mono), "Monaco", "Courier New", monospace;
  font-size: 14px;
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

pre code {
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 1.5;
}

pre code span {
  font-weight: 500;
}

pre code > span .sh__token--identifier {
  color: hsl(234, 16%, 45%) !important;
}

code:not(pre code) {
  background-color: var(--color-background-200);
  padding: 0.2em 0.4em;
}

code:not(pre code) span {
  color: var(--color-foreground-100) !important;
}

em {
  font-family: var(--font-newsreader);
}

.link-underline {
  text-decoration-color: var(--color-foreground-200);
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.link-underline:hover {
  text-decoration-color: var(--color-foreground-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-100: hsl(0, 0%, 9%);
    --background-200: hsl(0, 0%, 11%);
    --background-300: hsl(0 0% 15.8%);
    --foreground-100: hsl(0, 0%, 93%);
    --foreground-200: hsl(0, 0%, 63%);
    --selection: hsla(0, 0%, 100%, 0.077);
    --sh-class: hsl(23, 92%, 75%);
    --sh-sign: hsl(228, 17%, 64%);
    --sh-string: hsl(115, 54%, 76%);
    --sh-keyword: hsl(267, 84%, 81%);
    --sh-comment: hsl(228, 17%, 64%);
    --sh-jsxliterals: hsl(221, 89%, 72%);
    --sh-property: hsl(217, 92%, 76%);
    --sh-entity: hsl(220, 50%, 54%);
  }

  pre {
    background-color: var(--color-background-200);
  }

  pre code > span .sh__token--identifier {
    color: #cdd6f4 !important;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-newsreader: var(--font-newsreader);
  --color-foreground-100: var(--foreground-100);
  --color-foreground-200: var(--foreground-200);
  --color-foreground-300: var(--foreground-300);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-visual-yellow: var(--visual-yellow);
  --color-visual-gold: var(--visual-gold);
  --color-visual-red: var(--visual-red);
  --color-visual-blue: var(--visual-blue);
  --color-visual-green: var(--visual-green);
}
